.home-screenshots {
	display: flex;
	flex-direction: column;

	figure {
		width: 500px;
		margin: 0 0 1em 1em;
		box-shadow: 2px 2px 8px 0px #888888;
	}
	@media (max-width: 949px) {
		display: none;
	}
}

#home-landing {
	margin: 50px !important;
	text-align: center;
	h1 {
		border-bottom: 0px;
	}
	.download-button {
		background-color: hsl-lightness($green, 50%);
		border-radius: 15px;
		box-shadow: 0 5px hsl-lightness($green, 40%);
		color: white;
		cursor: pointer;
		display: inline-block;
		font-size: 20px;
		line-height: 20px;
		margin-top: 20px;
		padding: 20px;
		text-align: center;
		text-decoration: none;
		transition: .1s background-color, .2s box-shadow, .2s transform;
		&:active {
			box-shadow: 0 0 hsl-lightness($green, 40%);
			transform: translateY(5px);
		}
		&:hover {
			background-color: hsl-lightness($green, 45%);
		}
	}
}

#home-newsblock {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2em;

	@media (max-width: 600px) {
		grid-template-columns: 1fr;
	}
}
